.container {
  background-color: #ffffff26;
  padding: 20px;
  border-radius: 5px;
  width: 90%;
  margin: 0 auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  position: relative;
  overflow: hidden;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.imgLogo {
  width: 70%;
  height: auto;
  margin: auto;
}

.photos {
  max-width: 90%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  margin: auto;
  overflow: scroll;
}

.photoscontainerWrap {
  transition: all 0.3s ease-out;
  border: 5px solid #ffffff00;
}

.photoscontainerWrap:hover {
  border-color: #ffffff;
  border-radius: 9px;
}

.photoscontainer {
  padding: 5px 10px;
  width: 200px;
  display: flex;
  flex-direction: column;
}

.photoscontainer > img {
  width: auto;
  height: 100px;
  cursor: pointer;
}

.photoscontainer > p {
  font-size: small;
}

.amenities {
  width: 100%;
  margin: 20px 0px;
  color: white;
}
.amenities > h1 {
  width: 100%;
  text-align: left;
  font-size: 20px;
  color: white;
}

.upperNavbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #000000;
}

.logo {
  height: 80px;
  width: 100px;
  background-image: url("/images/logos/gewi_txt.png");
  background-size: cover;
}

.iconContainer {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #f1f1f1;
}

.profileIcon {
  font-size: 18px;
  margin-right: 10px;
}

.notificationIcon {
  font-size: 18px;
  margin-right: 10px;
}

.content {
  flex-grow: 1;
  padding: 10px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Reset default list styles */
.messagePreviewList {
  max-width: 90%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  list-style-type: none;
  margin: auto;
  flex-grow: 1;
}

.messagePreview {
  border-style: solid none;
  transition: all 0.5s ease-out;
  display: flex;
  width: 100%;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  background-color: #f5f5f585; /* Set the background color */
  border-width: 1px;
  border-color: #e0e0e0; /* Add a border */
}

.messagePreview:hover {
  color: #ffffff;
  background-color: #838383;
}

.messagePreview img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 50%;
}

.messageContent {
  flex-grow: 1;
  font-size: 16px;
  font-weight: bold;
  color: #333333;
}

.bottomNavbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  background-color: #000000;
}

.icon {
  font-size: 18px;
}

.selected {
  background-color: #f1f1f1;
}

.messageDetail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.messageHeader {
  width: 100%;
  text-align: left;
}

.messageHeader img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 50%;
}
.leftArrow {
  cursor: pointer;
}

.messageTitle {
  display: flex;
}

.messageDetail h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.messageDetail p {
  font-size: 18px;
  color: #555;
}

.backButton {
  font-size: 18px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #333;
  margin-bottom: 20px;
}

.backButton:hover {
  text-decoration: underline;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
/* components/MessageList.module.css */

/* ... previous styles ... */

.profilePicture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 15px;
  object-position: center;
  object-fit: cover;
}

.changePictureButton,
.giveAccessButton {
  font-size: 18px;
  padding: 10px 20px;
  margin-bottom: 10px;
}

.contactList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.contact {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

.contact:last-child {
  border-bottom: none;
}

.contact:hover {
  background-color: #f1f1f1;
}

.customDatePickerWidth,
.customDatePickerWidth > div.react-datepicker-wrapper,
.customDatePickerWidth
  > div
  > div.react-datepicker__input-container
  .customDatePickerWidth
  > div
  > div.react-datepicker__input-container
  input {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .content {
    align-items: center;
  }

  .messagePreviewList {
    max-width: 800px;
  }

  .selectedMessage {
    max-width: 600px;
    margin: 0 auto;
  }

  .profile {
    max-width: 400px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1000px) {
  .content {
    align-items: center;
  }

  .messagePreviewList {
    max-width: 950px;
  }

  .selectedMessage {
    max-width: 600px;
    margin: 0 auto;
  }

  .profile {
    max-width: 400px;
    margin: 0 auto;
  }
}

.textareaChat {
  width: 100%;
}

.textareaChat > * {
  margin: auto;
}
