@font-face {
  font-family: "GlacialIndifference";
  src: url("../font/GlacialIndifference-Regular.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GlacialIndifference";
  src: url("../font/GlacialIndifference-Bold.otf");
  font-weight: bold;
  font-style: normal;
}

/* variables */
:root {
  --top-navbar-height: 90px;
  --bottom-navbar-height: 45px;
  --top-bottom-margin-container: 20px;
  --left-right-margin-container: 20px;
  --dark-theme-color: #18191b;
  --light-theme-color: #ffffff;
  --light-theme-background: url("/images/background/bck.jpg");
}

html,
body {
  font-family: "GlacialIndifference", sans-serif;
  margin: 0;
  padding: 0;
}
