.container {
  background-color: #ffffff26;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding: 20px;
}

.form {
  background-color: #ffffff26;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.qr {
  margin: auto;
}

.qrIcon {
  width: 500px;
  height: auto;
}
