/* components/MessageList.module.css */

.container {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  max-width: 100vw;
  background-color: var(--dark-theme-color);
}
.bg {
  transition: all 0.5s linear;
  content: var(--light-theme-background);
  opacity: 0.6;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.dark {
  opacity: 0;
  background-color: var(--dark-theme-color);
}

/* ... upper nav ... */

.upperNavbar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  height: 80px;
  background-color: #000000;
}
.upperNavbarWrap {
  background-color: #000000;
  z-index: 1;
}

.bellWrap {
  position: absolute;
  display: flex;
  width: var(--top-navbar-height);
  height: var(--top-navbar-height);
}

.bell {
  margin: auto auto auto auto;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #f1f1f1;
}

.logo {
  height: 80px;
  width: auto;
  margin: auto;
  cursor: pointer;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto 5px auto auto;
}

.profilePicture {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: auto;
  object-position: center;
  object-fit: cover;
  cursor: pointer;
}

/* ... main content container ... */

.content {
  min-height: calc(
    100vh - var(--top-navbar-height) - var(--bottom-navbar-height)
  );
  max-height: calc(
    100vh - var(--top-navbar-height) - var(--bottom-navbar-height)
  );
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: stretch;
  justify-content: center;
  overflow-y: scroll;
}

.profileName {
  color: #ffffff;
}

/* ... bottom nav ... */
.bottomNavbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  background-color: #000000;
}

.bottomNavbarWrap {
  background-color: #000000;
  z-index: 1;
}

.iconContainer {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #f1f1f1;
}

.profileIcon {
  font-size: 18px;
  margin-right: 10px;
}

.themeSwitch {
  position: relative;
  width: 60px;
  height: 30px;
  border-radius: 15px;
  background-color: #ccc;
  cursor: pointer;
  transition: background-color 0.3s;
}

.themeSwitch.darkMode {
  background-color: #333;
}

.slider {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #fff;
  transition: transform 0.3s;
}

.themeSwitch.darkMode .slider {
  transform: translateX(30px);
}

/* Media queries for small mobile devices */
@media (max-width: 359px) {
  .content {
    margin: 5px;
  }

  .upperNavbar {
    max-width: 800px;
    margin: auto;
  }

  .bottomNavbar {
    max-width: 800px;
    margin: auto;
  }
}

/* Media queries for medium-sized mobile devices */
@media (min-width: 360px) and (max-width: 479px) {
  .content {
    margin: 10px;
  }
  .upperNavbar {
    max-width: 800px;
    margin: auto;
  }
  .bottomNavbar {
    max-width: 800px;
    margin: auto;
  }
}

/* Media queries for large mobile devices */
@media (min-width: 480px) and (max-width: 767px) {
  .content {
    margin: 10px 20px;
  }
  .upperNavbar {
    max-width: 800px;
    margin: auto;
  }
  .bottomNavbar {
    max-width: 800px;
    margin: auto;
  }
}

/* Media queries for tablets */
@media (min-width: 768px) and (max-width: 1023px) {
  .content {
    margin: 10px 20px;
  }
  .upperNavbar {
    max-width: 800px;
    margin: auto;
  }
  .bottomNavbar {
    max-width: 800px;
    margin: auto;
  }
}

/* Media queries for small desktop screens */
@media (min-width: 1024px) and (max-width: 1199px) {
  .content {
    margin: 10px 40px;
  }
  .upperNavbar {
    max-width: 800px;
    margin: auto;
  }
  .bottomNavbar {
    max-width: 800px;
    margin: auto;
  }
}

/* Media queries for medium to large desktop screens */
@media (min-width: 1200px) and (max-width: 1439px) {
  .content {
    margin: 10px 60px;
  }
  .upperNavbar {
    max-width: 800px;
    margin: auto;
  }
  .bottomNavbar {
    max-width: 800px;
    margin: auto;
  }
}

/* Media queries for larger desktop screens */
@media (min-width: 1440px) {
  .content {
    margin: 10px auto;
  }
  .upperNavbar {
    max-width: 800px;
    margin: auto;
  }
  .bottomNavbar {
    max-width: 800px;
    margin: auto;
  }
}
